@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'myfont';
    src: url(fonts/Poppins/Poppins-Bold.ttf);
}

:root {
    --white: #fff;
    --black: #121212;
    --dark: #221d21;
    --link: #0000EE;
    --primary: #032539;
    --secondary: #0099ff;
    --secondary-darker: #0066cc;
    --third: #fa991c;
    --light-grey: rgba(22, 8, 43, 0.1);
    --body-color: #f7f7f7;
    --text-color: #373d3f;
    --header-height: 3.5rem;
    --header-shadow: rgba(22, 8, 43, 0.1);
    --nav-width: 219px;
    --first-color: #6923D0;
    --first-color-light: #F4F0FA;
    --text-color-light: #A5A1AA;
    --body-font: 'Open Sans', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;
    --smaller-font-size: .75rem;
    --heading-size: 54px;
    --font-medium: 500;
    --font-semi-bold: 600;
    --z-fixed: 100;
}

.between-sections {
    height: 2rem;
}

hr {
    border: none;
    border-top: 1px solid grey;
    margin: 10px 0;
}

@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


body {
    box-sizing: border-box;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-color);
}

a {
    text-decoration: none;
}

.header {
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    font-family: var(--body-font);
    align-items: center;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    padding: 0 1rem;
    z-index: var(--z-fixed);
    box-shadow: 0 1px 0 var(--header-shadow);
    overflow: hidden;
    box-sizing: border-box;
}

.header__img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: .5em;
    color: var(--text-color);
    font-family: var(--body-font);
    font-weight: 600;
    font-size: 18px;
}

.header-logo:hover {
    color: var(--secondary);
}

.header-img-name {
    color: var(--dark);
    font-family: var(--body-font);
    font-weight: 600;
    display: none;
    font-size: 18px;
}

.hamburgher {
    cursor: pointer;
    display: none;
}

.hamburgher-bar {
    display: block;
    width: 20px;
    height: 3px;
    margin: 4px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--dark);
}

.nav {
    position: fixed;
    top: 0;
    font-family: var(--body-font);
    background-color: var(--body-color);
    left: -100%;
    height: 100%;
    padding: 1rem 1rem 0 1rem;
    box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
    z-index: var(--z-fixed);
    transition: .4s;
    overflow-y: auto;
}

.nav::-webkit-scrollbar {
    display: none;
}

.nav-container {
    height: 100%;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3rem;
}


/* pt chrome si altele */

.nav-container::-webkit-scrollbar {
    display: none;
}

.nav-menu {
    margin-bottom: 2.5rem;
    margin-top: .3rem;
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--text-color);
}

.nav-copyright {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    color: var(--text-color-light);
}

.logo-name {
    color: var(--text-color);
    font-family: 'myfont';
    font-size: 22px;
}

.nav-list,
.nav-items {
    display: grid;
}

.nav-list {
    row-gap: 1.5rem;
}

.nav-items {
    row-gap: 1.5rem;
}

.nav-subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: .1rem;
    font-size: 16px;
    color: var(--text-color-light);
}

.nav-link {
    display: flex;
    align-items: center;
    color: var(--text-color);
    margin-right: 1em;
}

.nav-icon {
    font-size: 1.2rem;
    margin-right: .5rem;
}

.nav-name {
    font-size: 1em;
    font-weight: 400;
    white-space: nowrap;
}

.show-menu {
    left: 0;
}

.nav-copyright-text {
    font-family: 'myfont';
}

@media screen and (max-width: 768px) {

    .nav-items {
        row-gap: 1rem;
    }

    .header-container {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        height: var(--header-height);
        box-sizing: border-box;
    }

    .hamburgher {
        display: block;
    }

    .hamburgher.active .hamburgher-bar:nth-child(2) {
        opacity: 0;
    }

    .hamburgher.active .hamburgher-bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburgher.active .hamburgher-bar:nth-child(3) {
        transform: translateY(-5.5px) rotate(-45deg);
    }
}

@media screen and (max-width: 768px) {
    .header-img-name {
        display: flex;
        font-size: 16px;
    }

    .header-logo {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    body {
        padding: 1rem 1.5rem 0 6rem;
    }

    .header {
        padding: 0;
    }

    .header-container {
        display: none;
    }

    .header-toggle {
        display: none;
    }

    .header-img {
        width: 40px;
        height: 40px;
        order: 1;
    }

    .nav-link:hover {
        color: var(--secondary);
        transition: .1s ease-out;
    }

    .nav {
        left: 0;
        padding: 1.2rem 1.5rem 0;
        width: 70px;
        box-sizing: border-box;
    }

    .nav-items {
        row-gap: 1.2rem;
    }

    .nav-icon {
        font-size: 1.3rem;
    }

    .logo-name,
    .nav-name,
    .nav-subtitle,
    .nav-dropdown-icon {
        opacity: 0;
        transition: .3s;
    }

    .nav:hover {
        width: var(--nav-width);
    }

    .nav:hover .logo-name {
        opacity: 1;
    }

    .nav:hover .nav-subtitle {
        opacity: 1;
    }

    .nav:hover .nav-name {
        opacity: 1;
    }
}

#cogleyText {
    font-size: 5rem;
    margin: 0;
    padding: 0;
    font-family: 'myfont';
    font-weight: 100;
}

#heading {
    font-family: 'myfont';
    font-size: 40px;
    margin: 0;
    color: var(--text-color);
}

#text {
    font-size: 18px;
    font-weight: 300;
    color: var(--text-color);
    margin: 0 0 1em 0;
}

@media screen and (max-width: 768px) {
    #text {
        font-size: 16px;
    }
}

hr#line {
    border: 0;
    border-bottom: 1px solid var(--light-grey);
}

hr#under {
    border: 0;
    margin: -1em 0;
    width: 50px;
    border-bottom: 2px solid var(--text-color);
}

hr#gallery-under {
    display: flex;
    align-items: center;
    border: 0;
    margin: -1em 0;
    width: 50px;
    border-bottom: 2px solid var(--text-color);
}

hr#under2 {
    border: 0;
    width: 50px;
    border-bottom: 2px solid var(--text-color);
}

hr#short {
    border: 0;
    border-bottom: 1px solid var(--light-grey);
    width: 50px;
    margin-top: -.2em;
    margin-bottom: 1em;
}

#vertical {
    border: 0;
    border-right: 1px solid var(--light-grey);
    margin: 0;
    padding: 0;
}

.section-2 {
    display: flex;
    flex-direction: column;
    height: auto;
    flex-wrap: wrap;
    margin: var(--header-height) 0 var(--header-height) 0;
}

.s2-a,
.s2-b,
.s2-c,
.s2-d {
    display: flex;
    flex-direction: column;
}

#s2-heading {
    font-family: 'myfont';
    color: var(--text-color);
    display: flex;
    font-size: 40px;
    margin-bottom: 0;
}

@media screen and (max-width: 571px) {
    #cogleyText {
        font-size: 3rem;
    }

    #s2-heading {
        display: flex;
        font-size: 2.5em;
        justify-content: center;
        align-items: center;
    }
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.links-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    margin: 2em 0;
}

.link-content {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    /* box-shadow: 0 0 1px 1px var(--light-grey); */
    padding: 1em;
    gap: 3em;
    width: 20em;
}

.link-name {
    color: var(--dark);
    font-size: 1em;
}

.link-2 {
    border: 1px solid var(--dark);
    height: 3em;
    width: 16em;
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-radius: 50px;
    font-weight: 500;
}

.bx-right-arrow-alt {
    transition: transform 0.3s ease-in-out;
}

.link-2:hover .bx-right-arrow-alt {
    transform: translateX(5px);
}

.linkLeft {
    display: flex;
    align-items: center;
    gap: 1em;
}

.link-2 i {
    font-size: 1.3em;
}

/* ------------- CONTACT ---------------- */

.contact {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
    gap: 3em;
}

#email {
    width: 100%;
    background: 0;
    border: 0;
    border: 1px solid var(--dark);
    font-family: var(--body-font);
    font-weight: 400;
    padding: .5em;
    border-radius: 0;
}

input[type=submit] {
    background-color: var(--primary);
    width: 8em;
    border: 0;
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: 600;
    padding: .5em;
    color: var(--white);
    cursor: pointer;
    border-radius: 50px;
}

input[type=submit]:hover {
    background-color: var(--secondary);
    transition: .2s ease-in-out;
    cursor: pointer;
}

.contact-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

.contact-2 p {
    font-size: 16px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .link-2 {
        width: 16em;
    }

    .link-content {
        width: 15em;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    #email {
        width: 20em;
    }
}

@media screen and (max-width: 319px) {
    #email {
        width: 15em;
    }
}

.section-2Container {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-around;
}

.section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    font-family: 'myfont';
    font-size: var(--heading-size);
    color: var(--text-color);
}

.container3-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    font-family: 'myfont';
    color: var(--text-color);
    font-size: 64px;
}

.container3-heading p {
    font-size: var(--heading-size);
    margin: 0;
    padding: 0;
}

.gallery-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    font-family: 'myfont';
    text-align: center;
    color: var(--text-color);
    font-size: 2rem;
}

.gallery-heading p {
    font-size: var(--heading-size);
    margin: 1em 0 0 0;
    padding: 0;
}

.section-title i {
    animation: blink 2s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.section-p p {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
    margin-top: -20px;
}

.section-2-left {
    max-width: 40%;
    display: flex;
    flex-direction: column;
}

.section-2-right img {
    max-width: 30em;
    height: auto;
}

@media screen and (max-width: 768px) {
    .section-2-right img {
        max-width: 100%;
        height: auto;
    }

    .section-2Container {
        flex-direction: column;
    }

    .section-title i {
        display: none;
    }

    .section-title {
        justify-content: center;
        text-align: center;
        font-size: 40px;
    }

    .section-p p {
        font-size: 1.1em;
        font-weight: 400;
        text-align: center;
    }

    .section-2-left {
        max-width: 100%;
    }
}

.section-3 {
    display: flex;
    flex-direction: column;
    height: auto;
}

.container3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    margin: 3em 0 0 0;
}

.s1b-container {
    height: 20vh;
    padding-top: 1.5em;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.s1b-box {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s1b-box p {
    font-size: 22px;
    font-weight: 300;
}

.s1b-box i {
    font-size: 50px;
}

/* ===================== FOOTER ====================== */

.footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    margin-top: 5em;
}

.footr {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
}

.footr a {
    text-decoration: underline;
}

.footr p {
    margin: 0;
    padding: 0;
}

/* --------------------------------------------------- */

.section-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    width: 100%;
}

#scroll-container {
    overflow: hidden;
    width: auto;
    align-items: center;
    border: 1px solid green;
    width: 90vw;
}

#scroll-text {
    font-size: 20px;
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}

/* for Firefox */

@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */

@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/* --------------------------------------------------- */

/* --------------------------------------------------- */

.privacyMain h1 {
    font-family: 'myfont';
    font-weight: normal;
    font-size: 40px;
}

.privacyMain h3 {
    font-weight: 600;
    font-size: 26px;
}

.privacyMain h4 {
    font-weight: 600;
    font-size: 18px;
}

.privacyMain p {
    font-weight: 400;
    font-size: 16px;
}

.privacyMain strong {
    font-weight: 600;
    font-size: 16px;
}

/* ------ */

.cookiesMain h1 {
    font-family: 'myfont';
    font-weight: normal;
    font-size: 40px;
}

.cookiesMain h3 {
    font-weight: 600;
    font-size: 26px;
}

.cookiesMain h4 {
    font-weight: 600;
    font-size: 18px;
}

.cookiesMain p {
    font-weight: 400;
    font-size: 16px;
}

.cookiesMain strong {
    font-weight: 600;
    font-size: 16px;
}

#cookie-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--body-color);
    padding: 18px;
    text-align: center;
    box-shadow: 0 0 1px 1px var(--light-grey);
}

#cookie-accept {
    background-color: var(--secondary);
    font-family: var(--body-font);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
}

#cookie-more {
    background-color: #bbb;
    font-family: var(--body-font);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
}

.copyrightss {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
}

/* --------------------------------------------------- */

@media screen and (max-width: 768px) {
    .section-5 {
        gap: 0;
        height: auto;
    }

    .grid {
        flex-direction: column;
        gap: 2em;
    }

    #scroll-container {
        align-items: center;
        width: 18em;
    }

    .footr {
        text-align: center;
    }

    .container3-heading p {
        font-size: 40px;
        margin: 0;
        padding: 0;
    }

    .gallery-heading p {
        font-size: 40px;
        margin: 1em 0 0 0;
        padding: 0;
    }

    .container3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .between-sections {
        height: 0;
    }

    .s1b-box p {
        font-size: 20px;
        font-weight: 300;
    }

    .s1b-box i {
        font-size: 35px;
    }

    /* ----- */

    .privacyMain h1 {
        font-family: 'myfont';
        font-weight: normal;
        font-size: 30px;
    }

    .privacyMain h3 {
        font-weight: 600;
        font-size: 22px;
    }

    .privacyMain h4 {
        font-weight: 600;
        font-size: 16px;
    }

    .privacyMain p {
        font-weight: 400;
        font-size: 16px;
    }

    .privacyMain strong {
        font-weight: 600;
        font-size: 16px;
    }

    /* ----- */

    .cookiesMain h1 {
        font-family: 'myfont';
        font-weight: normal;
        font-size: 30px;
    }

    .cookiesMain h3 {
        font-weight: 600;
        font-size: 22px;
    }

    .cookiesMain h4 {
        font-weight: 600;
        font-size: 16px;
    }

    .cookiesMain p {
        font-weight: 400;
        font-size: 16px;
    }

    .cookiesMain strong {
        font-weight: 600;
        font-size: 16px;
    }
}

/* ----------------------------------- */

@media screen and (max-width: 425px) {
    .s1b-container {
        height: 80vh;
        flex-direction: column;
        align-items: center;
    }

    .s1b-box p {
        font-size: 20px;
        font-weight: 300;
    }

    .s1b-box i {
        font-size: 35px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .section-2-right img {
        max-height: 350px;
        width: auto;
    }

    .section-p p {
        margin: 0 3em;
    }
}

/* ----------------- INDIVIDUAL GALLERY ------------------ */

.cont-gal {
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    border-radius: 7px;
}

.gal-img {
    width: 100%;
    /* Adjust as needed */
    display: block;
    transition: transform 0.3s ease;
    /* Optional: for image zoom effect */
}

.gal-down {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* Full width of the container */
    height: 100%;
    /* Cover the entire container */
    background: linear-gradient(to top, black, transparent);
    /* Black-to-transparent gradient */
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.3s ease;
    /* Smooth transition for hover */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Align text to the bottom */
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

.gal-text {
    margin: 0;
    color: white;
    /* Text color */
    font-weight: bold;
    /* Bold text */
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.3s ease;
    /* Smooth fade-in */
}

.gal-text-down {
    margin: 5px 0 0;
    /* Add spacing above */
    color: white;
    /* Text color */
    font-weight: normal;
    /* Normal text */
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.3s ease;
    /* Smooth fade-in */
}

.cont-gal:hover .gal-down {
    opacity: 1;
    /* Show gradient background */
}

.cont-gal:hover .gal-text,
.cont-gal:hover .gal-text-down {
    opacity: 1;
    /* Show text */
}

.cont-gal:hover .gal-img {
    transform: scale(1.05);
    /* Optional: slight zoom effect */
}


#gallery {
    line-height: 0;
    -webkit-column-count: 5;
    /* split it into 5 columns */
    -webkit-column-gap: 5px;
    /* give it a 5px gap between columns */
    -moz-column-count: 5;
    -moz-column-gap: 5px;
    column-count: 5;
    column-gap: 5px;
}

#gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 5px;
    transition: filter 1s;
    border-radius: 7px;
}

@media (max-width: 1200px) {
    #gallery {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: 1000px) {
    #gallery {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        padding: var(--header-height) 0 0 0;
    }
}

@media (max-width: 800px) {
    .gal-down {
        opacity: 1 !important;
        transition: none;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 30%, transparent 70%);
        /* Gradient fades faster */
    }

    .gal-text,
    .gal-text-down {
        opacity: 1 !important;
        transition: none;
    }
}


@media (max-width: 400px) {
    #gallery {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 2;
    }
}

/* ------------------ INDIVIDUAL GALLERY EVENIMENTE ------------------ */

.evenimente {
    display: grid;
    gap: 2rem;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
}

#video-container {
    padding: 0 0 1rem 0;
}

.iframe-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    height: 0;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 7px;
}

@media (min-width: 768px) {
    #video-container {
        display: flex;
        justify-content: center;
    }

    .iframe-wrapper {
        width: 60%;
        padding-bottom: 33.75%;
    }
}

@media screen and (max-width: 768px) {
    .evenimente {
        grid-template-columns: 1fr;
    }

    #video-container {
        padding: var(--header-height) 0 1rem 0;
    }
}

#video-galerie {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
    gap: 2em;
}

#video-galerie video {
    width: 320px;
    height: auto;
    max-width: 100%;
    border-radius: 7px;
}


@media screen and (max-width: 768px) {
    #video-galerie {
        flex-direction: column;
        margin: var(--header-height) 0 20px 0;
    }

}

/* ----------------- BANNER ------------------ */

.banner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner-img {
    width: 100%;
    height: auto;
    border-radius: 7px;
}

.circle-photo-container {
    position: relative;
    margin-top: -100px;
    border: 2px solid white;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.circle-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-text p {
    font-size: var(--normal-font-size);
    margin: 0.3rem 0;
    display: flex;
    align-items: center;
}

.banner-text i {
    margin-right: 0.5rem;
}

.status-badge {
    display: inline-flex;
    align-items: center;
    background-color: #f0fdf4;
    color: #037b03;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 15px;
    user-select: none;
    pointer-events: none;
}

.status-badge .dot {
    height: 8px;
    width: 8px;
    background-color: #037b03;
    border-radius: 50%;
    margin-right: 8px;
}

/* --------------- Apps Section --------------- */

.apps-section {
    margin-top: 20px;
    text-align: center;
}

.apps-section h4 {
    font-size: 1rem;
    font-weight: bold;
    padding: 0 0 10px 0;
    margin: 0;
    color: var(--text-color)
}

.apps-icons {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    height: 100%;
}

.apps-icons img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    object-fit: contain;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.apps-icons img:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
    .banner {
        padding: 3rem 0 0 0;
    }

    .banner-img {
        width: 100%;
        height: auto;
    }

    .banner-text h2 {
        font-size: 1.2rem;
        line-height: 1.5rem;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65);
    }

    .banner-text p {
        font-size: var(--normal-font-size);
        margin: 0.2rem 0;
    }

    .circle-photo-container {
        margin-top: -50px;
        width: 150px;
        height: 150px;
    }

    /* .apps-icons {
        grid-template-columns: repeat(7, 1fr);
    } */

    .apps-icons img {
        width: 35px;
        height: 35px;
    }
}